<div ngClass.lt-md="mt-50" ngClass.gt-sm="mt-100" fxLayout="row" fxLayoutAlign="center">
  <mat-card ngClass.lt-md="width-300" ngClass.gt-sm="width-500">

    <div fxLayout="row" fxLayoutAlign="center" class="mat-display-1">Nova Entidade</div>
    <form (ngSubmit)="onSubmit()"  [formGroup]="entidadeForm">

      <mat-form-field class="full-width">
        <input formControlName="name" [(ngModel)]="entidade_info.name" matInput placeholder="Nome" name="name">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error>{{getInputErrorMessage('name')}}</mat-error>
      </mat-form-field>


      <div fxLayout="row" fxLayoutAlign="center center" >
        <button mat-raised-button [disabled]="!entidadeForm.valid">create</button>
      </div>
    </form>
  </mat-card>
</div>
