<div ngClass.lt-md="mt-50" ngClass.gt-sm="mt-100" fxLayout="row" fxLayoutAlign="center space-around" style="margin-bottom: 50px;">
  <mat-card ngClass.lt-md="width-300" ngClass.gt-sm="width-500">

    <div fxLayout="row" fxLayoutAlign="center" class="mat-display-1">Registro de Entidade</div>
    <form (ngSubmit)="onSubmit()"  [formGroup]="profileForm">

      <mat-form-field class="full-width">
        <input formControlName="nome" [(ngModel)]="entidade.nome" matInput placeholder="Nome" name="nome">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error>{{getInputErrorMessage('nome')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input formControlName="cnpj" [(ngModel)]="entidade.cnpj" matInput placeholder="CNPJ" name="cnpj">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error>{{getInputErrorMessage('cnpj')}}</mat-error>
      </mat-form-field>      


      <mat-form-field class="full-width">
        <input formControlName="telef" [(ngModel)]="entidade.telef" matInput placeholder="Telefone" name="telef">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <!--<mat-error>{{getInputErrorMessage('phone')}}</mat-error>-->
      </mat-form-field>

      <mat-form-field class="full-width">
        <input formControlName="lougra" [(ngModel)]="entidade.lougra" matInput placeholder="Endereço" name="lougra">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error>{{getInputErrorMessage('lougra')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input formControlName="numero" [(ngModel)]="entidade.numero" matInput placeholder="Número" name="numero">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error>{{getInputErrorMessage('numero')}}</mat-error>
      </mat-form-field>      

      <mat-form-field class="full-width">
        <input formControlName="compl" [(ngModel)]="entidade.compl" matInput placeholder="Complemento" name="compl">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <!--<mat-error>{{getInputErrorMessage('numero')}}</mat-error>-->
      </mat-form-field>         

      <mat-form-field class="full-width">
        <input formControlName="bairro" [(ngModel)]="entidade.bairro" matInput placeholder="Bairro" name="bairro">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error>{{getInputErrorMessage('bairro')}}</mat-error>
      </mat-form-field>      

      <mat-form-field class="full-width">
        <input formControlName="cidade" [(ngModel)]="entidade.cidade" matInput placeholder="Cidade" name="cidade">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error>{{getInputErrorMessage('cidade')}}</mat-error>
      </mat-form-field>     

      <mat-form-field class="full-width">
        <input formControlName="estado" [(ngModel)]="entidade.estado" matInput placeholder="Estado" name="estado">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error>{{getInputErrorMessage('estado')}}</mat-error>
      </mat-form-field>     

      <mat-form-field class="full-width">
        <input formControlName="cep" [(ngModel)]="entidade.cep" matInput placeholder="CEP" name="cep">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error>{{getInputErrorMessage('cep')}}</mat-error>
      </mat-form-field>           

      <mat-form-field class="full-width">
        <input formControlName="email" [(ngModel)]="entidade.email" matInput placeholder="Email" name="email">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error>{{getInputErrorMessage('email')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input formControlName="senha" [(ngModel)]="entidade.senha" type="password" matInput placeholder="Senha" name="senha">
        <!--<mat-hint>Errors appear instantly!</mat-hint>-->
        <mat-error>{{getInputErrorMessage('senha')}}</mat-error>
      </mat-form-field>


      <div fxLayout="row" fxLayoutAlign="center center" >
        <button mat-raised-button [disabled]="!profileForm.valid">Salvar</button>
      </div>
    </form>
  </mat-card>
</div>
