<div ngClass.lt-md="mt-50" ngClass.gt-sm="mt-100" fxLayout="row" fxLayoutAlign="center">
  <mat-card ngClass.lt-md="width-000" ngClass.gt-sm="width-000"> <!---->

    <div fxLayout="row" fxLayoutAlign="begin">
      <a class="glyphicon glyphicon-plus btn btn-primary" routerLink="/beneficiario/create" > </a>
    </div>

    <div class="center center mat-subheading-1" *ngIf="beneficiarios.length > 0">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Telefone</th>
              <th>Email</th>
              <th>Bairro</th>
              <th>Alterar</th>
            </tr>
          </thead>
          <tbody>  
            <tr *ngFor="let beneficiario of beneficiarios">
              <td>{{beneficiario.idbeneficiario}}</td>
              <td>{{beneficiario.nome}}</td>
              <td>{{beneficiario.cpf}}</td>
              <td>{{beneficiario.telef}}</td>
              <td>{{beneficiario.email}}</td>
              <td>{{beneficiario.bairro}}</td>
              <td><a class="glyphicon glyphicon-edit btn btn-warning btn-sm" (click)="beneficiario.to('update')"> </a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </mat-card>
</div>